<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::links}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BUNGE 채팅</title>
    <links>
        <script th:src="@{/js/sockjs.min.js}"></script>
        <script th:src="@{/js/stomp.min.js}"></script>
        <script th:src="@{/js/moment.min.js}"></script>
        <script th:src="@{/js/chat.js}"></script>
        <script th:inline="javascript">
            var loginId = [[${loginId}]];
        </script>
        <style>
            .active {
                background: #edf1f6 !important;
            }
            .active a {
                color: #0280f5 !important;
            }
            .custom-display {
                display: none !important;
            }
        </style>
    </links>
</head>
<body>

<section id="content" class="content">
    <div class="content__header content__boxed mb-3 overlapping">
        <div class="content__wrap"></div>
    </div>

    <div class="content__boxed single-content-md">
        <div class="content__wrap">
            <div class="card h-100">
                <div class="card-body h-100">
                    <div class="d-md-flex h-100 gap-4">


                        <!-- Chat sidebar -->
                        <div class="w-md-250px flex-shrink-0 d-flex flex-column mb-3 mb-md-0">
                            <form class="pb-3 border-bottom">
                                <input type="text" class="form-control search" placeholder="Search chat">
                            </form>

                            <div class="list-group list-group-borderless flex-fill min-h-0 mt-3 overflow-scroll scrollable-content">

                                <!-- People list -->
                                <figure th:each="chatroom : ${chatrooms}" class="list-group-item list-group-item-action d-flex align-items-start mb-1 py-3"
                                        th:classappend="${chatroom.chatroomId eq id} ? active : ''">
                                    <div class="flex-shrink-0 me-3">
                                        <img class="img-xs rounded-circle" src="/img/profile-photos/default.png"
                                             alt="Profile Picture" loading="lazy">
                                    </div>
                                    <div class="flex-fill overflow-hidden">
                                        <div class="d-flex justify-content-between">
                                            <a th:href="@{/chat/rooms/{id}(id = ${chatroom.chatroomId})}"
                                               id="list-nick"
                                               class="h6 d-block mb-1 stretched-link text-nowrap text-truncate text-decoration-none pe-2" th:text="${chatroom.nick}"></a>
                                            <small class="text-body-secondary text-nowrap" th:text="${#temporals.format(chatroom.createDate, 'yyyy-MM-dd HH:mm')}"></small>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <small id="list-msg" class="text-body-secondary text-truncate pe-2" th:text="${chatroom.data}"></small>
                                        </div>
                                    </div>
                                </figure>
                                <!-- END : People list -->

                            </div>
                        </div>


                        <div class="d-flex flex-column flex-fill" style="width: 1100px">

                            <th:block th:if="${messageDto == null}">

                                <div class="bg-body-tertiary bg-opacity-75 d-flex flex-column-reverse flex-fill min-h-0 overflow-auto scrollable-content p-4 rounded-3">
                                    <div class="justify-content-end">

                                        <div class="text-center my-4">
                                            <div class="badge bg-white text-dark fs-6 fw-normal shadow-sm">채팅을 선택해주세요</div>
                                        </div>

                                    </div>
                                </div>

                            </th:block>
                            <th:block th:unless="${messageDto == null}">

                                <!-- Chat header -->
                                <div class="d-flex">

                                    <figure class="d-flex align-items-center position-relative">
                                        <div class="flex-shrink-0 me-3">
                                            <img class="img-sm rounded-circle" src="/img/profile-photos/default.png"
                                                 alt="Profile Picture" loading="lazy">
                                        </div>
                                        <div class="flex-fill overflow-hidden">
                                            <th:block th:each="chatroom : ${chatrooms}">
                                                <a href="#"
                                                   class="h6 d-block mb-1 stretched-link text-nowrap text-truncate text-decoration-none pe-2"
                                                    th:if="${chatroom.chatroomId eq id}" th:text="${chatroom.nick}"></a>
                                            </th:block>
                                            <!--/* <small class="text-success fw-bold fst-italic text-truncate pe-2"></small> */-->
                                        </div>
                                    </figure>

                                    <div class="d-flex gap-2 ms-auto">
                                        <button type="button" class="btn btn-icon btn-sm btn-hover btn-light"
                                                data-bs-toggle="button" data-view="fullcontent" data-view-target=".card"
                                                aria-pressed="false" autocomplete="off">
                                            <i class="icon-active demo-psi-minimize-3"></i>
                                            <i class="icon-inactive demo-psi-maximize-3"></i>
                                        </button>
                                        <div class="dropdown">
                                            <button class="btn btn-icon btn-sm btn-hover btn-light"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="demo-pli-dot-horizontal fs-5"></i>
                                                <span class="visually-hidden">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="demo-pli-pen-5 fs-5 me-2"></i> Edit
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item text-danger">
                                                        <i class="demo-pli-recycling fs-5 me-2"></i> Remove
                                                    </a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="demo-pli-mail fs-5 me-2"></i> Send a Message
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="demo-pli-calendar-4 fs-5 me-2"></i> View Details
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="demo-pli-lock-user fs-5 me-2"></i> Lock
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- END : Chat header -->


                                <div class="bg-body-tertiary bg-opacity-75 d-flex flex-column-reverse flex-fill min-h-0 overflow-auto scrollable-content p-4 rounded-3">
                                    <div class="justify-content-end">

                                        <div class="d-flex mb-2" th:each="message : ${messageDto.messages}"
                                             th:classappend="${message.memberId eq messageDto.loginId} ? 'justify-content-end': ''">
                                            <div class="bubble"
                                                 th:classappend="${message.memberId eq messageDto.loginId} ? 'bubble-primary': ''">
                                                <p class="mb-1" th:text="${message.data}"></p>
                                                <small class="opacity-50" th:text="${#temporals.format(message.createDate, 'yyyy-MM-dd HH:mm')}"></small>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <form class="d-flex align-items-center gap-1 pt-3">
                                <textarea class="chat-message-input form-control" placeholder="Type a message" rows="1"
                                          style="resize:none"></textarea>
                                    <button class="btn btn-icon bg-transparent">
                                        <i class="demo-pli-paperclip fs-5"></i>
                                    </button>
                                    <button class="btn btn-icon bg-transparent">
                                        <i class="demo-pli-smile fs-5"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-primary btn-send">
                                        <i class="demo-pli-paper-plane fs-5"></i>
                                    </button>
                                </form>

                            </th:block>

                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>

</body>
</html>