<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <!-- 	마이바티스 파라미터에 Null 값이 있는 경우 에러가 발생합니다.
 		이를 해결하기 위해 방법입니다.
 		<setting name="jdbcTypeForNull" value="NULL"/>
  -->
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
</configuration>
  