<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::links}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>내 정보 보기</title>
    <links>
        <!--/* link, script 태그 영역 */-->
        <script th:src="@{/js/mypage.js}"></script>
        <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    </links>
</head>
<body>
<th:block sec:authorize="isAnonymous()">
    <section id="content" class="content">
        <div class="content__boxed w-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <div class="content__wrap">

                <!-- Login card -->
                <div class="card shadow-lg">
                    <div class="card-body">

                        <div class="text-center">
                            <h1 class="h3">내 정보 수정</h1>
                        </div>
                            <div class="w-md-400px d-inline-flex row g-3 mb-4">
                                <div class="mt-4 col-9">
                                    <img class="hv-oc img-xl rounded-circle border" id="profile-img" th:src="|/upload${memberinfo.profile}|" alt="" >
                                </div>
                                <div class="mt-4 col-3">
                                    <!-- Vertical centered modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalprofile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                        변경
                                    </font></font></button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalprofile" tabindex="-1" aria-labelledby="modelprofileLabel" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <form th:action="@{/mypage/update-process}" method="post" enctype="multipart/form-data">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="modelprofileLabel"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">프로필 변경</font></font></h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫다"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <input type="file" name="uploadfile" class="form-control" accept="image/*">
                                                        <input type="hidden" name="id" class="form-control" th:value="${memberinfo.id}">
                                                        <input type="hidden" name="nick" class="form-control" th:value="${memberinfo.nick}">
                                                        <input type="hidden" name="name" class="form-control" th:value="${memberinfo.name}">
                                                        <input type="hidden" name="zipcode" class="form-control" th:value="${memberinfo.zipcode}">
                                                        <input type="hidden" name="addr1" class="form-control" th:value="${memberinfo.addr1}">
                                                        <input type="hidden" name="addr2" class="form-control" th:value="${memberinfo.addr2}">
                                                        <input type="hidden" name="phone" class="form-control" th:value="${memberinfo.phone}">
                                                        <input type="hidden" name="email" class="form-control" th:value="${memberinfo.email}">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">변경하기</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">돌아가기</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END : Vertical centered modal -->
                                </div>
                                <div class="mt-2 col-9">
                                    <font style="vertical-align: inherit;">아이디</font>
                                    <input type="text" name="id" class="form-control" th:value="${memberinfo.id}" required>
                                </div>
                                <div class="mt-2 col-9">
                                    <font style="vertical-align: inherit;">비밀번호</font>
                                    <input type="password" name="pwd" class="form-control" th:value="${#strings.substring(memberinfo.password, 0,8)}">
                                </div>

                                <div class="mt-4 col-3">
                                    <!-- Vertical centered modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changepwd"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                        변경
                                    </font></font></button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="changepwd" tabindex="-1" aria-labelledby="changepwdLabel" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <form th:action="@{/mypage/pwd-update-process}" method="post">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="changepwdLabel"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">비밀번호 변경</font></font></h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫다"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="password" name="pwd" class="form-control" placeholder="비밀번호 입력">
                                                    <input type="hidden" name="id" class="form-control" th:value="${memberinfo.id}">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">변경하기</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">돌아가기</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END : Vertical centered modal -->
                                </div>
                                <div class="mt-2 col-9">
                                    <font style="vertical-align: inherit;">이름</font>
                                    <input type="text" name="name" class="form-control" th:value="${memberinfo.name}">
                                </div>
                                <div class="mt-2 col-9">
                                    <font style="vertical-align: inherit;">닉네임</font>
                                    <input type="text" name="nick" class="form-control" th:value="${memberinfo.nick}">
                                </div>
                                <div class="mt-4 col-3">
                                    <!-- Vertical centered modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changenick"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                        변경
                                    </font></font></button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="changenick" tabindex="-1" aria-labelledby="changenickLabel" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <form th:action="@{/mypage/update-process}" method="post">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="changenickLabel"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">닉네임 변경</font></font></h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫다"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <input type="text" name="nick" class="form-control" placeholder="닉네임을 입력" maxlength="10">
                                                        <input type="hidden" name="id" class="form-control" th:value="${memberinfo.id}">
                                                        <input type="hidden" name="name" class="form-control" th:value="${memberinfo.name}">
                                                        <input type="hidden" name="zipcode" class="form-control" th:value="${memberinfo.zipcode}">
                                                        <input type="hidden" name="addr1" class="form-control" th:value="${memberinfo.addr1}">
                                                        <input type="hidden" name="addr2" class="form-control" th:value="${memberinfo.addr2}">
                                                        <input type="hidden" name="phone" class="form-control" th:value="${memberinfo.phone}">
                                                        <input type="hidden" name="email" class="form-control" th:value="${memberinfo.email}">
                                                        <input type="hidden" name="profile" class="form-control" th:value="${memberinfo.profile}">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">변경하기</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">돌아가기</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END : Vertical centered modal -->
                                </div>
                                <div class="mt-2 col-9">
                                    <font style="vertical-align: inherit;">우편번호</font>
                                    <input type="text" name="zipcode" class="form-control" th:value="${memberinfo.zipcode}">
                                </div>
                                <div class="mt-4 col-3">
                                    <!-- 주소 modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeaddr"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                        변경
                                    </font></font></button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="changeaddr" tabindex="-1" aria-labelledby="changeaddrLabel" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <form th:action="@{/mypage/update-process}" method="post">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="changeaddrLabel"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">우편변호 변경</font></font></h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫다"></button>
                                                    </div>
                                                    <div class="modal-body d-inline-flex row">
                                                        <div class="col-sm-6">
                                                            <input type="text" name="zipcode" class="form-control" placeholder="우편번호">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <input type="button" class="btn btn-primary" value="우편검색" name="postcode">
                                                        </div>
                                                        <div class="col-12 mt-3">
                                                            <input type="text" name="addr1" class="form-control" placeholder="주소입력">
                                                        </div>
                                                        <div class="col-12 mt-3">
                                                            <input type="text" name="addr2" class="form-control" placeholder="상세주소 입력">
                                                        </div>
                                                        <input type="hidden" name="id" class="form-control" th:value="${memberinfo.id}">
                                                        <input type="hidden" name="name" class="form-control" th:value="${memberinfo.name}">
                                                        <input type="hidden" name="nick" class="form-control" th:value="${memberinfo.nick}">
                                                        <input type="hidden" name="phone" class="form-control" th:value="${memberinfo.phone}">
                                                        <input type="hidden" name="email" class="form-control" th:value="${memberinfo.email}">
                                                        <input type="hidden" name="profile" class="form-control" th:value="${memberinfo.profile}">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">변경하기</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">돌아가기</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END : Vertical centered modal -->
                                </div>
                                <div class="mt-2 col-9">
                                    <font style="vertical-align: inherit;">주소</font>
                                    <input type="text" name="addr1" class="form-control" th:value="${memberinfo.addr1}">
                                </div>
                                <div class="mt-2 col-9">
                                    <font style="vertical-align: inherit;">상세주소</font>
                                    <input type="text" name="addr2" class="form-control" required th:value="${memberinfo.addr2}">
                                </div>
                                <div class="mt-2 col-9">
                                    <font style="vertical-align: inherit;">핸드폰</font>
                                    <input type="text" name="phone" class="form-control"  required th:value="${memberinfo.phone}">
                                </div>
                                <div class="mt-4 col-3">
                                    <!-- Vertical centered modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changephone"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                        변경
                                    </font></font></button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="changephone" tabindex="-1" aria-labelledby="changephoneLabel" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <form th:action="@{/mypage/update-process}" method="post">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="changephoneLabel"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">핸드폰 변경</font></font></h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫다"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <input type="text" name="phone" class="form-control" placeholder="핸드폰번호 입력">
                                                        <input type="hidden" name="id" class="form-control" th:value="${memberinfo.id}">
                                                        <input type="hidden" name="name" class="form-control" th:value="${memberinfo.name}">
                                                        <input type="hidden" name="nick" class="form-control" th:value="${memberinfo.nick}">
                                                        <input type="hidden" name="zipcode" class="form-control" th:value="${memberinfo.zipcode}">
                                                        <input type="hidden" name="addr1" class="form-control" th:value="${memberinfo.addr1}">
                                                        <input type="hidden" name="addr2" class="form-control" th:value="${memberinfo.addr2}">
                                                        <input type="hidden" name="email" class="form-control" th:value="${memberinfo.email}">
                                                        <input type="hidden" name="profile" class="form-control" th:value="${memberinfo.profile}">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">변경하기</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">돌아가기</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END : Vertical centered modal -->
                                </div>
                                <div class="mt-2 col-9">
                                    <font style="vertical-align: inherit;">이메일</font>
                                    <input type="email" class="form-control" aria-label="Email" th:value="${memberinfo.email}">
                                </div>
                                <div class="mt-4 col-3">
                                    <!-- Vertical centered modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeemail">
                                        <font style="vertical-align: inherit;">변경</font>
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="changeemail" tabindex="-1" aria-labelledby="changeemailLabel" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <form th:action="@{/mypage/update-process}" method="post">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="changeemailLabel">
                                                            <font style="vertical-align: inherit;">이메일 변경</font>
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫다"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="d-inline-flex">
                                                            <div class="col-12 mt-2">
                                                                <input id="changeemail1" type="email" name="email" class="form-control" placeholder="Email" aria-label="Email" required>
                                                            </div>
                                                            <div class="col-4 mt-2" style="margin-left: 10px;">
                                                                <button type="button" class="btn btn-primary" id="emailVerifyButton" name="checkemail">이메일 인증</button>
                                                            </div>
                                                        </div>
                                                        <div class="col-10 mt-2">
                                                            <div class="col-6 mt-1">
                                                                <input type="hidden" id="emailCode" name="emailcode" class="form-control" placeholder="인증코드 입력" maxlength="6" required>
                                                                <span id="emailcode_message"></span>
                                                            </div>
                                                            <input type="hidden" name="id" class="form-control" th:value="${memberinfo.id}">
                                                            <input type="hidden" name="name" class="form-control" th:value="${memberinfo.name}">
                                                            <input type="hidden" name="nick" class="form-control" th:value="${memberinfo.nick}">
                                                            <input type="hidden" name="zipcode" class="form-control" th:value="${memberinfo.zipcode}">
                                                            <input type="hidden" name="addr1" class="form-control" th:value="${memberinfo.addr1}">
                                                            <input type="hidden" name="addr2" class="form-control" th:value="${memberinfo.addr2}">
                                                            <input type="hidden" name="phone" class="form-control" th:value="${memberinfo.phone}">
                                                            <input type="hidden" name="profile" class="form-control" th:value="${memberinfo.profile}">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">변경하기</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">돌아가기</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- END : Vertical centered modal -->
                                </div>
                            </div>
                            <div class="d-grid mt-4">
                                <button class="btn btn-light" onclick="window.history.back()">돌아가기</button>
                            </div>
                    </div>
                </div>

                <!-- END : Login card -->
                <!-- END : Show the background images container -->


            </div>
        </div>
        <script th:inline="javascript">
        let result = [[${message}]];
        if(result != null)
        alert(result);
    </script>
    </section>

</th:block>
</body>
</html>