<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::links}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>비밀번호 찾기</title>
    <links>
        <!--/* link, script 태그 영역 */-->
    </links>
</head>
<body>
<section id="content" class="content">
    <div class="content__boxed w-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="content__wrap">

            <!-- Login card -->
            <div class="card shadow-lg">
                <div class="card-body">
                    <div class="text-center">
                        <h1 class="h3">비밀번호를 잊으셨나요</h1>
                        <p>비밀번호를 재설정하시려면 아이디, 이름, 이메일을 입력해주세요.</p>
                    </div>
                    <form class="mt-4" th:action="@{/member/findpwdProcess}" method="post">
                        <div class="d-grid mt-2">
                            <input type="text" name="id" class="form-control" placeholder="아이디를 입력" aria-label="id">
                        </div>
                        <div class="d-grid mt-2">
                            <input type="text" name="name" class="form-control" placeholder="이름을 입력" aria-label="name">
                        </div>
                        <div class="d-grid mt-2">
                            <input type="email" name="email" class="form-control" placeholder="이메일을 입력" aria-label="Email">
                        </div>
                        <div class="d-grid mt-4">
                            <button class="btn btn-warning btn-lg" type="submit">비밀번호 재설정</button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <a th:href="@{/member/login}" class="btn-link text-decoration-none">로그인으로 돌아가기</a>
                    </div>

                </div>
            </div>

            <!-- END : Login card -->


            <!-- Show the background images container -->
            <div class="d-flex align-items-center justify-content-center gap-3 mt-4">
                <button class="btn btn-light" onclick="window.history.back()">뒤로가기</button>
            </div>
            <!-- END : Show the background images container -->

        </div>
    </div>
</section>
</body>
</html>