<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::links}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>임시페이지</title>
    <links>
        <!--/* link, script 태그 영역 */-->
    </links>
</head>
<body>
<th:block sec:authorize="isAuthenticated()">
<section id="content" class="content">
    <div th:if="${welcomemsg != null}">
        <h1 th:text="${welcomemsg}"></h1>
    </div>
    <div th:if="${welcomemsg == null}">
        <h1>Welcome to the Member Page</h1>
    </div>
    <!-- 현재 사용자가 인증된 경우에만 참(true)을 반환합니다. -->
        <!--/* 본문 content 영역 */-->
    <div>로그인 완료</div>
    <form th:action="@{/member/logout}" method="post" name="logout">
        <button type="submit" class="nav-link" href="#" id="logout">로그아웃</button>
    </form>
</section>
</th:block>
</body>
</html>