!DOCTYPE html>

<html lang="en" data-bs-theme="light" data-scheme="navy">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta name="description" content="A list of fields that a user will input data into and submit to a company or individual.">
    <title>Register | Nifty - Admin Template</title>


    <!-- STYLESHEETS -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <!-- Fonts [ OPTIONAL ] -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">


    <!-- Bootstrap CSS [ REQUIRED ] -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Nifty CSS [ REQUIRED ] -->
    <link rel="stylesheet" th:href="@{/css/nifty.min.css}">

    <!-- Nifty Demo Icons [ OPTIONAL ] -->
    <link rel="stylesheet" th:href="@{/css/demo-purpose/demo-icons.min.css}">

    <!-- Demo purpose CSS [ DEMO ] -->
    <link rel="stylesheet" th:href="@{/css/demo-purpose/demo-settings.min.css}">


    <!-- Favicons [ OPTIONAL ] -->
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./site.webmanifest">


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    [ REQUIRED ]
    You must include this category in your project.


    [ OPTIONAL ]
    This is an optional plugin. You may choose to include it in your project.


    [ DEMO ]
    Used for demonstration purposes only. This category should NOT be included in your project.


    [ SAMPLE ]
    Here's a sample script that explains how to initialize plugins and/or components: This category should NOT be included in your project.


    Detailed information and more samples can be found in the documentation.

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

</head>

<body class="">


<!-- PAGE CONTAINER -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="root" class="root front-container">

    <!-- CONTENTS -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <section id="content" class="content">
        <div class="content__boxed w-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <div class="content__wrap">

                <!-- Login card -->
                <div class="card shadow-lg">
                    <div class="card-body">


                        <div class="text-center">
                            <h1 class="h3">Create a New Account</h1>
                            <p>Come join the Nifty community! Let's set up your account.</p>
                        </div>

                        <form class="mt-5" th:action="joinProcess">

                            <div class="w-md-400px d-inline-flex row g-3 mb-4">
                                <div class="col-12">
                                    <input type="text" name="id" class="form-control" placeholder="아이디 입력(5~15자)"  autofocus>
                                </div>
                                <div class="col-12">
                                    <input type="text" name="pwd" class="form-control" placeholder="비밀번호 입력">
                                </div>
                                <div class="col-12">
                                    <input type="text" name="name" class="form-control" placeholder="이름을 입력">
                                </div>
                                <div class="col-12">
                                    <input type="text" name="nick" class="form-control" placeholder="닉네임 입력">
                                </div>
                                <div class="col-12">
                                <input type="checkbox" name="gender" class="btn-check" id="btncheck1" th:value="남">
                                <label class="btn btn-outline-primary" for="btncheck1">남</label>

                                <input type="checkbox" name="gender" class="btn-check" id="btncheck2" th:value="여">
                                <label class="btn btn-outline-primary" for="btncheck2">여</label>
                                </div>
                                <div class="col-12">
                                    <input type="date" class="form-control" placeholder="생년월일" min="1900-01-01" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" name="zipcode" placeholder="우편번호" class="form-control" required readonly>
                                </div>
                                <div class="col-12">
                                    <input type="text" name="addr1" class="form-control" placeholder="주소를 입력해주세요" required readonly >
                                </div>

                                <div class="col-12">
                                    <input type="text" name="addr2" class="form-control" placeholder="상세주소를 입력해주세요" required>
                                </div>
                                <div class="col-12">
                                    <input type="email" class="form-control" placeholder="Email" aria-label="Email">
                                </div>

                            </div>

                            <div class="form-check">
                                <input id="_dm-registerCheck" class="form-check-input" type="checkbox">
                                <label for="_dm-registerCheck" class="form-check-label">
                                    I agree with the <a href="#" class="btn-link text-decoration-underline">Terms and Conditions</a>
                                </label>
                            </div>

                            <div class="d-grid mt-5">
                                <button class="btn btn-primary btn-lg" type="submit">회원가입</button>
                            </div>
                        </form>

                        <div class="d-flex justify-content-between mt-4">
                            Already have an account ?
                            <a href="./front-pages-login.html" class="btn-link text-decoration-none">Sign In</a>
                        </div>

                        <div class="d-flex align-items-center justify-content-between border-top pt-3 mt-3">
                            <h5 class="m-0">Sign Up with</h5>

                            <!-- Social media buttons -->
                            <div class="ms-3">
                                <a href="#" class="btn btn-sm btn-icon btn-hover btn-primary text-inherit">
                                    <i class="demo-psi-facebook fs-5"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-icon btn-hover btn-info text-inherit">
                                    <i class="demo-psi-twitter fs-5"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-icon btn-hover btn-danger text-inherit">
                                    <i class="demo-psi-google-plus fs-5"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-icon btn-hover btn-warning text-inherit">
                                    <i class="demo-psi-instagram fs-5"></i>
                                </a>
                            </div>
                            <!-- END : Social media buttons -->

                        </div>


                    </div>
                </div>

                <!-- END : Login card -->


                <!-- Show the background images container -->
                <div class="d-flex align-items-center justify-content-center gap-3 mt-4">
                    <button class="btn btn-danger hstack gap-2" data-bs-toggle="offcanvas" data-bs-target="#_dm-boxedBgContent">
                        <i class=" demo-psi-photos fs-4"></i>
                        <span class="vr"></span>
                        Background image
                    </button>
                    <button class="btn btn-light" onclick="window.history.back()">Back</button>
                </div>
                <!-- END : Show the background images container -->


            </div>
        </div>


    </section>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- END - CONTENTS -->
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- END - PAGE CONTAINER -->


<!-- BOXED LAYOUT : BACKGROUND IMAGES CONTENT [ DEMO ] -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="_dm-boxedBgContent" class="_dm-boxbg offcanvas offcanvas-bottom" data-bs-scroll="true" tabindex="-1">
    <div class="offcanvas-body px-4">

        <!-- Content Header -->
        <div class="offcanvas-header border-bottom p-0 pb-3">
            <div>
                <h4 class="offcanvas-title">Background Images</h4>
                <span class="text-body-secondary">Add an image to replace the solid background color</span>
            </div>
            <button type="button" class="btn-close btn-lg text-reset shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!-- End - Content header -->


        <!-- Collection Of Images -->
        <div id="_dm-boxedBgContainer" class="row mt-3">

            <!-- Blurred Background Images -->
            <div class="col-lg-4">
                <h5 class="mb-2">Blurred</h5>
                <div class="_dm-boxbg__img-container d-flex flex-wrap">
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/blurred/thumbs/1.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/blurred/thumbs/2.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/blurred/thumbs/3.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/blurred/thumbs/4.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/blurred/thumbs/5.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/blurred/thumbs/6.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/blurred/thumbs/7.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/blurred/thumbs/8.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/blurred/thumbs/9.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/blurred/thumbs/10.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/blurred/thumbs/11.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/blurred/thumbs/12.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/blurred/thumbs/13.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/blurred/thumbs/14.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/blurred/thumbs/15.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/blurred/thumbs/16.jpg" alt="Background Image" loading="lazy">
                    </a>
                </div>
            </div>
            <!-- End - Blurred Background Images -->


            <!-- Polygon Background Images -->
            <div class="col-lg-4">
                <h5 class="mb-2">Polygon &amp; Geometric</h5>
                <div class="_dm-boxbg__img-container d-flex flex-wrap mb-4">
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/polygon/thumbs/1.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/polygon/thumbs/2.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/polygon/thumbs/3.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/polygon/thumbs/4.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/polygon/thumbs/5.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/polygon/thumbs/6.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/polygon/thumbs/7.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/polygon/thumbs/8.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/polygon/thumbs/9.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/polygon/thumbs/10.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/polygon/thumbs/11.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/polygon/thumbs/12.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/polygon/thumbs/13.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/polygon/thumbs/14.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/polygon/thumbs/15.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/polygon/thumbs/16.jpg" alt="Background Image" loading="lazy">
                    </a>
                </div>
            </div>
            <!-- End - Polygon Background Images -->


            <!-- Abstract Background Images -->
            <div class="col-lg-4">
                <h5 class="mb-2">Abstract</h5>
                <div class="_dm-boxbg__img-container d-flex flex-wrap">
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/abstract/thumbs/1.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/abstract/thumbs/2.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/abstract/thumbs/3.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/abstract/thumbs/4.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/abstract/thumbs/5.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/abstract/thumbs/6.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/abstract/thumbs/7.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/abstract/thumbs/8.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/abstract/thumbs/9.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/abstract/thumbs/10.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/abstract/thumbs/11.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/abstract/thumbs/12.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/abstract/thumbs/13.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/abstract/thumbs/14.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/abstract/thumbs/15.jpg" alt="Background Image" loading="lazy">
                    </a>
                    <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                        <img class="img-responsive" src="./assets/premium/boxed-bg/abstract/thumbs/16.jpg" alt="Background Image" loading="lazy">
                    </a>
                </div>
            </div>
            <!-- End - Abstract Background Images -->


        </div>
        <!-- End - Collection Of Images -->


    </div>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- END - BOXED LAYOUT : BACKGROUND IMAGES CONTENT [ DEMO ] -->
<!-- JAVASCRIPTS -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


<!-- Popper JS [ OPTIONAL ] -->
<script src="./assets/vendors/popperjs/popper.min.js"></script>


<!-- Bootstrap JS [ OPTIONAL ] -->
<script src="./assets/vendors/bootstrap/bootstrap.min.js"></script>


<!-- Nifty JS [ OPTIONAL ] -->
<script src="./assets/js/nifty.js"></script>


<!-- Nifty Settings [ DEMO ] -->
<script src="./assets/js/demo-purpose-only.js"></script>


</body>

</html>