<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::links}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>회원가입</title>
    <links>
        <!--/* link, script 태그 영역 */-->
        <script th:src="@{/js/join.js}"></script>
        <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    </links>
</head>
<body>
<th:block sec:authorize="isAnonymous()">
<section id="content" class="content">
    <div class="content__boxed w-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="content__wrap">

            <!-- Login card -->
            <div class="card shadow-lg">
                <div class="card-body">


                    <div class="text-center">
                        <h1 class="h3">새 계정 생성</h1>
                        <p>bunger 커뮤니티에 참여해보세요! 계정을 설정해 보겠습니다.</p>
                    </div>

                    <form class="mt-5" name="join" th:action="@{/member/joinProcess}" method="post">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                        <div class="w-md-400px d-inline-flex row g-3 mb-4">
                            <div class="col-12 mt-2">
                                <input type="text" name="id" class="form-control" placeholder="아이디 입력(5~15자)" required>
                            </div>
                            <div class="col-12 mt-2">
                                <span id="id_message"></span>
                            </div>
                            <div class="col-12 mt-2">
                                <input type="password" name="pwd" class="form-control" placeholder="비밀번호 입력" required>
                            </div>
                            <div class="col-12 mt-2">
                                <span id="pwd_message"></span>
                            </div>
                            <div class="col-12 mt-2">
                                <input type="text" name="name" class="form-control" placeholder="이름을 입력" required>
                            </div>
                            <div class="col-12 mt-2">
                                <span id="name_message"></span>
                            </div>
                            <div class="col-12 mt-2">
                                <input type="text" name="nick" class="form-control" placeholder="닉네임 입력" required>
                            </div>
                            <div class="col-12 mt-2">
                                <span id="nick_message"></span>
                            </div>
                            <div class="col-12">
                                <input type="radio" name="gender" class="btn-check" id="btncheck1" th:value="남">
                                <label class="btn btn-outline-primary" for="btncheck1">남</label>

                                <input type="radio" name="gender" class="btn-check" id="btncheck2" th:value="여">
                                <label class="btn btn-outline-primary" for="btncheck2">여</label>
                            </div>
                            <div class="col-12 mt-2">
                                <span id="gender_message"></span>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" name="zipcode" placeholder="우편번호" class="form-control" required readonly>
                            </div>
                            <div class="col-sm-5">
                                <input type="button" class="btn btn-primary" value="우편검색" name="postcode">
                            </div>
                            <div class="col-12 mt-2">
                                <input type="text" name="addr1" class="form-control" placeholder="주소를 입력해주세요" required readonly >
                            </div>
                            <div class="col-12 mt-2">
                                <input type="text" name="addr2" class="form-control" placeholder="상세주소를 입력해주세요" required>
                            </div>
                            <div class="col-12 mt-1">
                                <span id="addr2_message"></span>
                            </div>
                            <div class="col-12 mt-2">
                                <input type="text" name="phone" class="form-control" placeholder="핸드폰번호를 입력해주세요" required>
                            </div>
                            <div class="col-12 mt-2">
                                <span id="pho_message"></span>
                            </div>
                            <div class="d-inline-flex">
                                <div class="col-7 mt-2">
                                    <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Email"required>
                                </div>
                                <div class="col-4 mt-2" style="margin-left: 10px;">
                                    <button type="button" class="btn btn-primary" id="emailVerifyButton" name="checkemail">이메일 인증</button>
                                </div>
                            </div>
                            <div class="col-12 mt-1">
                                <span id="email_message"></span>
                            </div>
                            <div class="col-6 mt-1">
                                <input type="hidden" id="emailCode" name="emailcode" class="form-control" placeholder="인증코드 입력" required>
                                <span id="emailcode_message"></span>
                            </div>
                            <div class="col-12 mt-2">
                                <input type="date" name="birthdate" class="form-control" placeholder="생년월일" min="1900-01-01" required>
                            </div>
                            <div class="col-12 mt-2">
                                <span id="birth_message"></span>
                            </div>
                        </div>

                        <div class="form-check">
                            <input id="_dm-registerCheck" class="form-check-input" type="checkbox">
                            <label for="_dm-registerCheck" class="form-check-label">
                                이용약관<a href="#" class="btn-link text-decoration-underline">에 동의합니다.</a>
                            </label>
                        </div>

                        <div class="mt-4 d-grid gap-2">
                            <button class="btn btn-primary btn-lg" type="submit">회원가입</button>
                            <button class="btn btn-light" onclick="window.history.back()">돌아가기</button>
                        </div>
                        <input type="hidden" name="result" value="${result}">
                    </form>
                </div>
            </div>

            <!-- END : Login card -->
            <!-- END : Show the background images container -->


        </div>
    </div>

</section>
</th:block>
</body>
</html>