<!DOCTYPE html>

<html lang="en" data-bs-theme="light" data-scheme="navy">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Login Page | Nifty - Admin Template</title>


    <!-- STYLESHEETS -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <!-- Fonts [ OPTIONAL ] -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">


    <!-- Bootstrap CSS [ REQUIRED ] -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <!-- Nifty CSS [ REQUIRED ] -->
    <link rel="stylesheet" th:href="@{/css/nifty.css}">

    <!-- Premium line icons [ OPTIONAL ] -->
    <link rel="stylesheet" th:href="@{/premium/icon-sets/line-icons/premium-line-icons.min.css}">

    <!-- Premium solid icons [ OPTIONAL ] -->
    <link rel="stylesheet" th:href="@{/premium/icon-sets/solid-icons/premium-solid-icons.min.css}">


    <!-- Favicons [ OPTIONAL ] -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{./apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{./favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{./favicon-16x16.png}">
    <link rel="manifest" th:href="@{./site.webmanifest}">


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    [ REQUIRED ]
    You must include this category in your project.


    [ OPTIONAL ]
    This is an optional plugin. You may choose to include it in your project.


    [ DEMO ]
    Used for demonstration purposes only. This category should NOT be included in your project.


    [ SAMPLE ]
    Here's a sample script that explains how to initialize plugins and/or components: This category should NOT be included in your project.


    Detailed information and more samples can be found in the documentation.

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

</head>

<body class="">


<!-- PAGE CONTAINER -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="root" class="root front-container">

    <!-- CONTENTS -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <section id="content" class="content">
        <div class="content__boxed w-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <div class="content__wrap">

                <!-- Login card -->
                <div class="card shadow-none">
                    <div class="card-body p-4">


                        <div class="text-center">
                            <h1 class="h3">Account Login</h1>
                            <p>Sign In to your account</p>
                        </div>

                        <form class="mt-4" name="loginform" th:action="@{/member/loginProcess}" method="post">

                            <div class="mb-3">
                                <input type="text" name="id" class="form-control" placeholder="Username" autofocus>
                            </div>

                            <div class="mb-3">
                                <input type="password" name="pwd" class="form-control" placeholder="Password">
                            </div>

                            <div class="form-check">
                                <input id="_dm-loginCheck" name="remember-me" class="form-check-input" type="checkbox">
                                <label for="_dm-loginCheck" class="form-check-label">
                                   아이디 기억하기
                                </label>
                            </div>

                            <div class="d-grid mt-5">
                                <button class="btn btn-primary btn-lg" type="submit">로그인</button>
                            </div>
                        </form>

                        <div class="d-flex justify-content-between gap-md-5 mt-4">
                            <a href="#" class="btn-link text-decoration-none">비밀번호를 잊으셨나요 ?</a>
                            <a href="join.html" class="btn-link text-decoration-none">새계정 생성</a>
                        </div>

                        <div class="d-flex align-items-center justify-content-between border-top pt-3 mt-3">
                            <h5 class="m-0">Login with</h5>

                            <!-- Social media buttons -->
                            <div class="ms-3">
                                <a href="#" class="btn btn-sm btn-icon btn-hover btn-primary text-inherit">
                                    <i class="psi-facebook fs-5"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-icon btn-hover btn-info text-inherit">
                                    <i class="psi-twitter fs-5"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-icon btn-hover btn-danger text-inherit">
                                    <i class="psi-google-plus fs-5"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-icon btn-hover btn-warning text-inherit">
                                    <i class="psi-instagram fs-5"></i>
                                </a>
                            </div>
                            <!-- END : Social media buttons -->

                        </div>


                    </div>
                </div>

                <!-- END : Login card -->


                <!-- Action buttons -->
                <div class="d-flex justify-content-center gap-3 mt-5">
                    <button type="button" onclick="window.history.back()" class="btn btn-light hstack gap-2">
                        <i class="psi-left-4 fs-5 opacity-30"></i>
                        <span class="vr"></span>
                        Go back
                    </button>
                    <a href="./" class="btn btn-primary hstack gap-2">
                        <i class="psi-home fs-5"></i>
                        <span class="vr"></span>
                        Return home
                    </a>
                </div>
                <!-- END : Action buttons -->


            </div>
        </div>


    </section>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- END - CONTENTS -->
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- END - PAGE CONTAINER -->


</body>

</html>