<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::links}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>임시페이지</title>
    <links>
        <!--/* link, script 태그 영역 */-->
    </links>
</head>
<body>
<th:block sec:authorize="isAnonymous()">
    <section id="content" class="content">
        <div class="content__boxed w-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <div class="content__wrap">
        <p>등록하신 이메일로 메일일 전송되었습니다.</p>
        <form th:action="@{/member/login}">
            <button class="btn btn-primary btn-lg" type="submit">로그인로 이동</button>
        </form>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>