<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::links}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>비밀번호 재설정</title>
    <links>
        <script th:src="@{/js/pwdreset.js}"></script>
    </links>
</head>
<body>
<section id="content" class="content">
    <div class="content__boxed w-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="content__wrap" style="width: 460px; height: 420px;">

            <!-- Login card -->
            <div class="card shadow-lg">
                <div class="card-body">
                    <div class="text-center">
                        <h1 class="h3">비밀번호를 재설정하세요</h1>
                    </div>
                    <form class="mt-4" th:action="@{/member/pwdsetProcess}" method="post">
                        <div class="mt-3">
                            <input type="password" name="pwd" class="form-control" placeholder="비밀번호 입력" aria-label="pwd">
                        </div>
                        <div class="d-grid mt-1">
                            <span id="pwd_message"></span>
                        </div>
                        <div class="mt-1">
                            <input type="password" name="pwdcheck" class="form-control" placeholder="비밀번호 재입력" aria-label="pwd">
                        </div>
                        <div class="d-grid mt-1">
                            <span id="pwdcheckmessage"></span>
                        </div>
                        <div class="d-grid mt-3">
                            <button class="btn btn-warning btn-lg" type="submit">비밀번호 재설정</button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <a th:href="@{/member/login}" class="btn-link text-decoration-none">로그인으로 돌아가기</a>
                    </div>

                </div>
            </div>

            <!-- END : Login card -->


            <!-- Show the background images container -->
            <div class="d-flex align-items-center justify-content-center gap-3 mt-4">
                <button class="btn btn-light" onclick="window.history.back()">뒤로가기</button>
            </div>
            <!-- END : Show the background images container -->

        </div>
    </div>
</section>
</body>
</html>