<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::links}, ~{::section})}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>메인페이지</title>
    <links>
        <script th:src="@{/js/adminmain.js}"></script>
    </links>

</head>
<body>
<section sec:authorize="hasAnyAuthority('admin','superadmin')">
    <script th:inline="javascript">
        let result = [[${message}]];
        if(result != null)
            alert(result);
    </script>
    <div class="content__header content__boxed overlapping">
        <!-- admin 페이지-->
        <div class="content__wrap">
            <!-- Page title and information -->
            <h1 class="page-title mb-2">관리자페이지</h1>
        </div>
    </div>
    <div class="content__boxed">
        <div class="content__wrap">
            <div class="row">
                <div class="col-md-6">

                    <!-- Stat widget -->
                    <div class="card bg-success text-white mb-3 mb-xl-3">
                        <div class="card-body py-3">

                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0">
                                    <i class="d-flex align-items-center justify-content-center demo-pli-male-female display-6"></i>
                                </div>
                                <div class="flex-grow-1 ms-4">
                                    <h5 class="h2 mb-0" th:text="${visitorCount+'명'}"></h5>
                                    <p class="text-white text-opacity-75 mb-0">오늘 방문자</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- END : Stat widget -->

                    <!-- Stat widget -->
                    <div class="card bg-info text-white mb-3 mb-xl-3">
                        <div class="card-body py-3">

                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0">
                                    <i class="d-flex align-items-center justify-content-center pli-id-3 display-5"></i>
                                </div>
                                <div class="flex-grow-1 ms-4">
                                    <h5 class="h2 mb-0" th:text="${joinCount+'명'}"></h5>
                                    <p class="text-white text-opacity-75 mb-0">가입자수</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- END : Stat widget -->

                </div>
                <div class="col-md-6">

                    <!-- Stat widget -->
                    <div class="card bg-purple text-white mb-3 mb-xl-3">
                        <div class="card-body py-3">

                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0">
                                    <i class="d-flex align-items-center justify-content-center pli-student-hat-2 display-6"></i>
                                </div>
                                <div class="flex-grow-1 ms-4">
                                    <h5 class="h2 mb-0" th:text="${studyCount+'명'}"></h5>
                                    <p class="text-white text-opacity-75 mb-0">스터디 수</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- END : Stat widget -->

                    <!-- Stat widget -->
                    <div class="card bg-warning text-white mb-3 mb-xl-3">
                        <div class="card-body py-3">

                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0">
                                    <i class="d-flex align-items-center justify-content-center pli-open-book display-5"></i>
                                </div>
                                <div class="flex-grow-1 ms-4">
                                    <h5 class="h2 mb-0" th:text="${reviewCount+'명'}"></h5>
                                    <p class="text-white text-opacity-75 mb-0">리뷰 게시물 수</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END : Stat widget -->
                </div>
            </div>
        </div>
    </div>

    <div class="content__boxed">
        <div class="content__wrap">
            <!-- Table with toolbar -->

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-3">회원목록</h5>
                    <div class="col-md-12 d-flex gap-1 align-items-center justify-content-md-end mb-2">
                        <div class="form-group">
                            <input type="text" placeholder="Search..." class="form-control" autocomplete="off">
                        </div>
                        <div class="btn-group">
                            <div class="btn-group dropdown">
                                <button class="btn btn-icons btn-outline-light dropdown-toggle hstack gap-2" data-bs-toggle="dropdown" aria-expanded="false">
                                    옵션
                                    <span class="vr"></span>
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">가입순</a></li>
                                    <li><a class="dropdown-item" href="#">닉네임순</a></li>
                                    <li><a class="dropdown-item" href="#">회원상태</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>프로필</th>
                                <th>아이디</th>
                                <th class="text-nowrap">이름</th>
                                <th>닉네임</th>
                                <th>주소</th>
                                <th>신고정보</th>
                                <th>회원권한</th>
                                <th class="text-center">회원상태수정</th>
                            </tr>
                            </thead>
                            <tbody id="memberlist">
                            <!-- 회원목록 데이터 ajax-->
                            </tbody>
                        </table>
                    </div>
                            <!-- modal-->
                            <div class="modal fade" id="authority" tabindex="-1" aria-labelledby="verticalCenteredLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <form th:action="@{/admin/update-process}" method="post">

                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="verticalCenteredLabel">회원상태수정</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫다"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!--
                                                <div class="row _dm-dropdown">
                                                    <p>권한정보</p>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">리더</a></li>
                                                        <li><a class="dropdown-item" href="#">맴버</a></li>
                                                    </ul>
                                                </div>
                                                 -->
                                                        <div class="table-responsive">
                                                            <table class="table table-striped">
                                                                <thead>
                                                                <tr>
                                                                    <th>신고 내용</th>
                                                                    <th>신고 날짜</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody id="reportlist">
                                                                <!-- ajax 모달 정보-->
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                        <h5 class="card-title">처벌내용</h5>
                                                        <div class="mt-4 d-flex flex-wrap justify-content-center gap-2">
                                                            <div class="btn-group" role="group" aria-label="처벌내용">
                                                                <input type="radio" name="report" class="btn-check" id="report1" th:value="3일정지">
                                                                <label class="btn btn-outline-primary" for="report1">3일정지</label>
                                                                <input type="radio" name="report" class="btn-check" id="report2" th:value="5일정지">
                                                                <label class="btn btn-outline-primary" for="report2">5일정지</label>
                                                                <input type="radio" name="report" class="btn-check" id="report3" th:value="10일정지">
                                                                <label class="btn btn-outline-dark" for="report3">10일정지</label>
                                                                <input type="radio" name="report" class="btn-check" id="report4" th:value="회원탈퇴">
                                                                <label class="btn btn-outline-dark" for="report4">회원탈퇴</label>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-primary">변경</button>
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                                        </div>
                                                    </div>
                                                <input type="hidden" name="reporttargetid" id="hiddenReporterId">
                                            </form>
                                        </div>
                                    </div>
                                </div>

                    <nav class="text-align-center mt-5" aria-label="Table navigation">
                        <ul id="pagination" class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#">이전</a>
                            </li>
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">1</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">다음</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- END : Table with toolbar -->
        </div>
    </div>
    <script th:inline="javascript">
        let result = [[${message}]];
        if(result != null)
            alert(result);
    </script>
</section>
</body>
</html>