<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::links}, ~{::section})}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>메인페이지</title>

    <links>
        <script th:src="@{/js/usermain.js}"></script>
    </links>


</head>
<style>
    /* styles.css */
    table td {
        height: 50px; !important;/* 원하는 높이로 설정 */
        overflow: hidden; !important;/* 텍스트가 넘칠 경우 숨김 */
        text-overflow: ellipsis; !important;/* 넘치는 텍스트는 말줄임 표시 */
        white-space: nowrap; !important;/* 텍스트가 줄바꿈 되지 않도록 설정 */
    }
</style>
<body>
<section sec:authorize="hasAnyAuthority('member')">
    <div class="content__header content__boxed overlapping">
        <!-- member 페이지-->
        <div class="content__wrap">
            <!-- Page title and information -->
            <h1 class="page-title mb-2">[[${loginId}]]님</h1>
        </div>
    </div>
    <div class="content__boxed">
        <div class="content__wrap">
            <div class="row">
                <div class="col-xl-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="h4 card-title"><i class="pli-megaphone"></i>&nbsp;&nbsp;공지사항</h3>
                            <!-- GridJS - Sorting -->
                            <div id="_dm-gridjsSorting">
                                <!-- Undeline nav tabs without base -->
                                <!-- Nav tabs -->
                                <ul class="nav nav-underline nav-component border-bottom" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link px-3 active" data-bs-toggle="tab" data-bs-target="#_dm-coTabsHome" type="button" role="tab" aria-controls="home" aria-selected="true">고라니</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link px-3" data-bs-toggle="tab" data-bs-target="#_dm-coTabsProfile" type="button" role="tab" aria-controls="profile" aria-selected="false">Just Do it</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link px-3" data-bs-toggle="tab" data-bs-target="#_dm-coTabsContact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
                                    </li>
                                </ul>

                                <!-- Tabs content -->
                                <div class="tab-content p-3">

                                    <div id="_dm-coTabsHome" class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
                                        <div role="complementary" class="gridjs gridjs-container" style="width: 100%;">
                                            <div class="gridjs-wrapper" style="height: 220px;">
                                                <table role="grid" class="gridjs-table table table-striped" style="height: auto;">
                                                    <thead class="gridjs-thead">
                                                    <tr class="gridjs-tr">
                                                        <th data-column-id="id" class="gridjs-th gridjs-th-sort" tabindex="0" style="min-width: 53px; width: 60px;">
                                                            <div class="gridjs-th-content">
                                                                No.
                                                            </div>
                                                        </th>
                                                        <th data-column-id="name" class="gridjs-th gridjs-th-sort" tabindex="0" style="min-width: 150px; width: 150px;">
                                                            <div class="gridjs-th-content">
                                                                제목
                                                            </div>
                                                        </th>
                                                        <th data-column-id="lastLogin" class="gridjs-th gridjs-th-sort" tabindex="0" style="min-width: 60px; width: 60px;">
                                                            <div class="gridjs-th-content">
                                                                작성자
                                                            </div>
                                                        </th>
                                                        <th data-column-id="lastLogin" class="gridjs-th gridjs-th-sort" tabindex="0" style="min-width: 90px; width: 100px;">
                                                            <div class="gridjs-th-content">
                                                                작성자일
                                                            </div>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="gridjs-tbody">
                                                    <tr class="gridjs-tr">
                                                        <td data-column-id="id" class="gridjs-td">
                                                            1
                                                        </td>
                                                        <td data-column-id="lastLogin" class="gridjs-td">
                                                            [필독] 이번주 일정 변경 공지합니다.
                                                        </td>
                                                        <td data-column-id="name" class="gridjs-td">
                                                            admin
                                                        </td>
                                                        <td data-column-id="lastLogin" class="gridjs-td">
                                                            2024-06-15
                                                        </td>
                                                    </tr>
                                                    <tr class="gridjs-tr">
                                                        <td data-column-id="id" class="gridjs-td">
                                                            1
                                                        </td>
                                                        <td data-column-id="lastLogin" class="gridjs-td">
                                                            [필독] 이번주 일정 변경 공지합니다.
                                                        </td>
                                                        <td data-column-id="name" class="gridjs-td">
                                                            admin
                                                        </td>
                                                        <td data-column-id="lastLogin" class="gridjs-td">
                                                            2024-06-15
                                                        </td>
                                                    </tr>
                                                    <tr class="gridjs-tr">
                                                        <td data-column-id="id" class="gridjs-td">
                                                            1
                                                        </td>
                                                        <td data-column-id="lastLogin" class="gridjs-td">
                                                            [필독] 이번주 일정 변경 공지합니다.
                                                        </td>
                                                        <td data-column-id="name" class="gridjs-td">
                                                            admin
                                                        </td>
                                                        <td data-column-id="lastLogin" class="gridjs-td">
                                                            2024-06-15
                                                        </td>
                                                    </tr>
                                                    <tr class="gridjs-tr">
                                                        <td data-column-id="id" class="gridjs-td">
                                                            1
                                                        </td>
                                                        <td data-column-id="lastLogin" class="gridjs-td">
                                                            [필독] 이번주 일정 변경 공지합니다.
                                                        </td>
                                                        <td data-column-id="name" class="gridjs-td">
                                                            admin
                                                        </td>
                                                        <td data-column-id="lastLogin" class="gridjs-td">
                                                            2024-06-15
                                                        </td>
                                                    </tr>
                                                    <tr class="gridjs-tr">
                                                        <td data-column-id="id" class="gridjs-td">
                                                            1
                                                        </td>
                                                        <td data-column-id="lastLogin" class="gridjs-td">
                                                            [필독] 이번주 일정 변경 공지합니다.
                                                        </td>
                                                        <td data-column-id="name" class="gridjs-td">
                                                            admin
                                                        </td>
                                                        <td data-column-id="lastLogin" class="gridjs-td">
                                                            2024-06-15
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                    <div id="_dm-coTabsProfile" class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab">
                                        <div role="complementary" class="gridjs gridjs-container" style="width: 100%;">
                                            <div class="gridjs-wrapper" style="height: 220px;">
                                                <table role="grid" class="gridjs-table table table-striped" style="height: auto;">
                                                    <thead class="gridjs-thead">
                                                    <tr class="gridjs-tr">
                                                        <th data-column-id="id" class="gridjs-th gridjs-th-sort" tabindex="0" style="min-width: 53px; width: 60px;">
                                                            <div class="gridjs-th-content">
                                                                No.
                                                            </div>
                                                        </th>
                                                        <th data-column-id="name" class="gridjs-th gridjs-th-sort" tabindex="0" style="min-width: 150px; width: 150px;">
                                                            <div class="gridjs-th-content">
                                                                제목
                                                            </div>
                                                        </th>
                                                        <th data-column-id="lastLogin" class="gridjs-th gridjs-th-sort" tabindex="0" style="min-width: 60px; width: 60px;">
                                                            <div class="gridjs-th-content">
                                                                작성자
                                                            </div>
                                                        </th>
                                                        <th data-column-id="lastLogin" class="gridjs-th gridjs-th-sort" tabindex="0" style="min-width: 90px; width: 100px;">
                                                            <div class="gridjs-th-content">
                                                                작성자일
                                                            </div>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="gridjs-tbody">
                                                    <tr class="gridjs-tr">
                                                        <td data-column-id="id" class="gridjs-td">
                                                            1
                                                        </td>
                                                        <td data-column-id="lastLogin" class="gridjs-td">
                                                            [필독] 이번주 일정 변경 공지합니다.
                                                        </td>
                                                        <td data-column-id="name" class="gridjs-td">
                                                            admin
                                                        </td>
                                                        <td data-column-id="lastLogin" class="gridjs-td">
                                                            2024-06-15
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="_dm-coTabsContact" class="tab-pane fade" role="tabpanel" aria-labelledby="contact-tab">
                                        <div role="complementary" class="gridjs gridjs-container" style="width: 100%;">
                                        <div class="gridjs-wrapper" style="height: 220px;">
                                            <table role="grid" class="gridjs-table table table-striped" style="height: auto;">
                                                <thead class="gridjs-thead">
                                                <tr class="gridjs-tr">
                                                    <th data-column-id="id" class="gridjs-th gridjs-th-sort" tabindex="0" style="min-width: 53px; width: 60px;">
                                                        <div class="gridjs-th-content">
                                                            No.
                                                        </div>
                                                    </th>
                                                    <th data-column-id="name" class="gridjs-th gridjs-th-sort" tabindex="0" style="min-width: 150px; width: 150px;">
                                                        <div class="gridjs-th-content">
                                                            제목
                                                        </div>
                                                    </th>
                                                    <th data-column-id="lastLogin" class="gridjs-th gridjs-th-sort" tabindex="0" style="min-width: 60px; width:60px;">
                                                        <div class="gridjs-th-content">
                                                            작성자
                                                        </div>
                                                    </th>
                                                    <th data-column-id="lastLogin" class="gridjs-th gridjs-th-sort" tabindex="0" style="min-width: 90px; width: 100px;">
                                                        <div class="gridjs-th-content">
                                                            작성자일
                                                        </div>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody class="gridjs-tbody">
                                                <tr class="gridjs-tr">
                                                    <td data-column-id="id" class="gridjs-td">
                                                        1
                                                    </td>
                                                    <td data-column-id="lastLogin" class="gridjs-td">
                                                        [필독] 이번주 일정 변경 공지합니다.
                                                    </td>
                                                    <td data-column-id="name" class="gridjs-td">
                                                        admin
                                                    </td>
                                                    <td data-column-id="lastLogin" class="gridjs-td">
                                                        2024-06-15
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- END : Undeline nav tabs without base -->


                                <div role="complementary" class="gridjs gridjs-container" style="width: 100%;">
                                    <nav class="text-align-center mt-5" aria-label="Table navigation">
                                        <ul id="announcementList" class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#">이전</a>
                                            </li>
                                            <li class="page-item active" aria-current="page">
                                                <span class="page-link">1</span>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">다음</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- END : GridJS - Sorting -->
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="h4 card-title"><i class="pli-calendar-4"></i>&nbsp; 내 스터디 일정</h3>

                            <!-- GridJS - Resizable columns -->
                            <div id="_dm-gridjsResizableCol">
                                <div role="complementary" class="gridjs gridjs-container" style="width: 100%;">
                                    <div class="gridjs-wrapper" style="height: 290px;">
                                        <table role="grid" class="gridjs-table table table-striped" style="height: auto;">
                                            <thead class="gridjs-thead">
                                            <tr class="gridjs-tr">
                                                <th data-column-id="id" class="gridjs-th" style="min-width: 53px; width: 100px;">
                                                    <div class="gridjs-th-content">스터디</div>
                                                    <div class="gridjs-th gridjs-resizable"></div>
                                                </th>
                                                <th data-column-id="name" class="gridjs-th" style="min-width: 100px; width: 100px;">
                                                    <div class="gridjs-th-content">모임 제목</div><div class="gridjs-th gridjs-resizable"></div>
                                                </th>
                                                <th data-column-id="start" class="gridjs-th" style="min-width: 80px; width: 90px;">
                                                    <div class="gridjs-th-content">시작 날짜</div>
                                                    <div class="gridjs-th gridjs-resizable"></div>
                                                </th>
                                                <th data-column-id="end" class="gridjs-th" style="min-width: 90px; width: 90px;">
                                                    <div class="gridjs-th-content">종료 날짜</div>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody class="gridjs-tbody" id="eventList">
                                            <tr class="gridjs-tr">
                                                <td data-column-id="id" class="gridjs-td">53454</td>
                                                <td data-column-id="name" class="gridjs-td">Charles S Boyle</td>
                                                <td data-column-id="lastLogin" class="gridjs-td">Today 01:25 PM</td>
                                                <td data-column-id="amount" class="gridjs-td">$132.20</td>
                                                <td data-column-id="amount" class="gridjs-td">$132.20</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="gridjs-temp" class="gridjs-temp"></div>
                                    <nav class="text-align-center mt-5" aria-label="Table navigation">
                                        <ul id="eventPagination" class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#">이전</a>
                                            </li>
                                            <li class="page-item active" aria-current="page">
                                                <span class="page-link">1</span>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">다음</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- END : GridJS - Resizable columns -->

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="content__boxed">
        <div class="content__wrap">
            <!-- Table with toolbar -->
            <div class="card">
                <div class="card-header">
                    <h3 class="h4 card-title"><i class="pli-open-book"></i>&nbsp; 스터디 목록</h3>
                    <div class="row">

                        <!-- Right Toolbar -->
                        <div class="col-md-12 d-flex gap-1 align-items-center justify-content-md-end mb-2">
                            <div class="btn-group">
                                <div class="btn-group dropdown">
                                    <button class="btn btn-icons btn-outline-light dropdown-toggle hstack gap-2" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span id="selectedOptionText">옵션</span> <!-- 기본 텍스트 설정 -->
                                        <span class="vr"></span>
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#" id="studystart">등록순</a></li>
                                        <li><a class="dropdown-item" href="#" id="progress">진행순</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- END : Right Toolbar -->

                    </div>
                </div>

                <div class="card-body" style="height: 400px">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="min-width: 150px; width: 150px;">스터디</th>
                                <th style="min-width: 80px; width: 80px;">그룹장</th>
                                <th style="min-width: 80px; width: 80px;">상태</th>
                                <th class="text-center" style="min-width: 100px; width: 100px;">스터디진행률</th>
                                <th style="min-width: 100px; width: 100px;">시작일</th>
                                <th style="min-width: 100px; width: 100px;">종료일</th>
                                <th class="text-center" style="min-width: 150px; width: 150px;">카테고리</th>
                            </tr>
                            </thead>
                            <tbody id="studylist">
                            <tr>
                                <td><a href="#" class="btn-link"></a></td>
                                <td></td>
                                <td><span class="text-body"><i class="demo-pli-clock"></i></span></td>
                                <td class="text-center fs-5">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 81%;" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></div>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td class="text-center"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <nav class="text-align-center mt-5" aria-label="Table navigation">
                        <ul id="studyPagination" class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#">이전</a>
                            </li>
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">1</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">다음</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>