<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::links}, ~{::section})}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>메인페이지</title>

    <links>
        <script th:src="@{/js/usermain.js}"></script>
    </links>


</head>
<body>
<section sec:authorize="hasAnyAuthority('member')">
    <div class="content__header content__boxed overlapping">
        <!-- member 페이지-->
        <div class="content__wrap">
            <!-- Page title and information -->
            <h1 class="page-title mb-2">[[${loginId}]]님</h1>
        </div>
    </div>
    <div class="content__boxed">
        <div class="content__wrap">
            <div class="row">
                <div class="col-xl-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="h4 card-title "><i class="pli-megaphone"></i>&nbsp;&nbsp;공지사항</h3>
                            <!-- GridJS - Sorting -->
                            <div id="_dm-gridjsSorting">
                                <div role="complementary" class="gridjs gridjs-container" style="width: 100%;">
                                    <div class="gridjs-wrapper" style="height: auto;">
                                        <table role="grid" class="gridjs-table table table-striped" style="height: auto;">
                                        <thead class="gridjs-thead">
                                        <tr class="gridjs-tr">
                                            <th data-column-id="id" class="gridjs-th gridjs-th-sort" tabindex="0" style="min-width: 53px; width: 68px;">
                                                <div class="gridjs-th-content">
                                                    No.
                                                </div>
                                            </th>
                                            <th data-column-id="name" class="gridjs-th gridjs-th-sort" tabindex="0" style="min-width: 108px; width: 138px;">
                                                <div class="gridjs-th-content">
                                                    제목
                                                </div>
                                            </th>
                                            <th data-column-id="lastLogin" class="gridjs-th gridjs-th-sort" tabindex="0" style="min-width: 132px; width: 169px;">
                                                <div class="gridjs-th-content">
                                                    작성자
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="gridjs-tbody">
                                        <tr class="gridjs-tr">
                                            <td data-column-id="id" class="gridjs-td">
                                                53454
                                            </td>
                                            <td data-column-id="name" class="gridjs-td">
                                                Charles S Boyle
                                            </td>
                                            <td data-column-id="lastLogin" class="gridjs-td">
                                                Today 01:25 PM
                                            </td>
                                        </tr>
                                        <tr class="gridjs-tr">
                                            <td data-column-id="id" class="gridjs-td">
                                                53454
                                            </td>
                                            <td data-column-id="name" class="gridjs-td">
                                                Charles S Boyle
                                            </td>
                                            <td data-column-id="lastLogin" class="gridjs-td">
                                                Today 01:25 PM
                                            </td>
                                        </tr>
                                        <tr class="gridjs-tr">
                                            <td data-column-id="id" class="gridjs-td">
                                                53454
                                            </td>
                                            <td data-column-id="name" class="gridjs-td">
                                                Charles S Boyle
                                            </td>
                                            <td data-column-id="lastLogin" class="gridjs-td">
                                                Today 01:25 PM
                                            </td>
                                        </tr>
                                        <tr class="gridjs-tr">
                                            <td data-column-id="id" class="gridjs-td">
                                                53454
                                            </td>
                                            <td data-column-id="name" class="gridjs-td">
                                                Charles S Boyle
                                            </td>
                                            <td data-column-id="lastLogin" class="gridjs-td">
                                                Today 01:25 PM
                                            </td>
                                        </tr>

                                        <tr class="gridjs-tr">
                                            <td data-column-id="id" class="gridjs-td">
                                                53454
                                            </td>
                                            <td data-column-id="name" class="gridjs-td">
                                                Charles S Boyle
                                            </td>
                                            <td data-column-id="lastLogin" class="gridjs-td">
                                                Today 01:25 PM
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    <nav class="text-align-center mt-5" aria-label="Table navigation">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#">이전</a>
                                            </li>
                                            <li class="page-item active" aria-current="page">
                                                <span class="page-link">1</span>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">다음</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- END : GridJS - Sorting -->
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="h4 card-title"><i class="pli-calendar-4"></i>&nbsp; 한 주 주요 일정</h3>

                            <!-- GridJS - Resizable columns -->
                            <div id="_dm-gridjsResizableCol">
                                <div role="complementary" class="gridjs gridjs-container" style="width: 100%;">
                                    <div class="gridjs-wrapper" style="height: auto;">
                                        <table role="grid" class="gridjs-table table table-striped" style="height: auto;">
                                            <thead class="gridjs-thead">
                                            <tr class="gridjs-tr">
                                                <th data-column-id="id" class="gridjs-th" style="min-width: 53px; width: 70px;">
                                                    <div class="gridjs-th-content">일정</div>
                                                    <div class="gridjs-th gridjs-resizable"></div>
                                                </th>
                                                <th data-column-id="name" class="gridjs-th" style="min-width: 108px; width: 142px;">
                                                    <div class="gridjs-th-content">내용</div><div class="gridjs-th gridjs-resizable"></div>
                                                </th>
                                                <th data-column-id="lastLogin" class="gridjs-th" style="min-width: 132px; width: 174px;">
                                                    <div class="gridjs-th-content">날짜</div>
                                                    <div class="gridjs-th gridjs-resizable"></div>
                                                </th>
                                                <th data-column-id="amount" class="gridjs-th" style="min-width: 66px; width: 87px;">
                                                    <div class="gridjs-th-content">시작 시간</div>
                                                </th>
                                                <th data-column-id="amount" class="gridjs-th" style="min-width: 66px; width: 87px;">
                                                    <div class="gridjs-th-content">종료 시간</div>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody class="gridjs-tbody">
                                            <tr class="gridjs-tr">
                                                <td data-column-id="id" class="gridjs-td">53454</td>
                                                <td data-column-id="name" class="gridjs-td">Charles S Boyle</td>
                                                <td data-column-id="lastLogin" class="gridjs-td">Today 01:25 PM</td>
                                                <td data-column-id="amount" class="gridjs-td">$132.20</td>
                                                <td data-column-id="amount" class="gridjs-td">$132.20</td>
                                            </tr>
                                            <tr class="gridjs-tr"><td data-column-id="id" class="gridjs-td">53453</td>
                                                <td data-column-id="name" class="gridjs-td">Steve N. Horton</td>
                                                <td data-column-id="lastLogin" class="gridjs-td">Today 11:03 AM</td>
                                                <td data-column-id="amount" class="gridjs-td">$74.00</td>
                                                <td data-column-id="amount" class="gridjs-td">$74.00</td>
                                            </tr>
                                            <tr class="gridjs-tr">
                                                <td data-column-id="id" class="gridjs-td">53452</td>
                                                <td data-column-id="name" class="gridjs-td">Lucy Doe</td>
                                                <td data-column-id="lastLogin" class="gridjs-td">Today 10:56 PM</td>
                                                <td data-column-id="amount" class="gridjs-td">$12.00</td>
                                                <td data-column-id="amount" class="gridjs-td">$12.00</td>
                                            </tr>
                                            <tr class="gridjs-tr">
                                                <td data-column-id="id" class="gridjs-td">53451</td>
                                                <td data-column-id="name" class="gridjs-td">Teresa L. Doe</td>
                                                <td data-column-id="lastLogin" class="gridjs-td">Yesterday 05:25 PM</td>
                                                <td data-column-id="amount" class="gridjs-td">$532.99</td>
                                                <td data-column-id="amount" class="gridjs-td">$532.99</td>
                                            </tr>
                                            <tr class="gridjs-tr"><td data-column-id="id" class="gridjs-td">53450</td>
                                                <td data-column-id="name" class="gridjs-td">Lucy Doe</td>
                                                <td data-column-id="lastLogin" class="gridjs-td">Yesterday 03:25 PM</td>
                                                <td data-column-id="amount" class="gridjs-td">$45.00</td>
                                                <td data-column-id="amount" class="gridjs-td">$45.00</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="gridjs-temp" class="gridjs-temp"></div>
                                    <nav class="text-align-center mt-5" aria-label="Table navigation">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#">이전</a>
                                            </li>
                                            <li class="page-item active" aria-current="page">
                                                <span class="page-link">1</span>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">다음</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- END : GridJS - Resizable columns -->

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="content__boxed">
        <div class="content__wrap">
            <!-- Table with toolbar -->
            <div class="card">
                <div class="card-header">
                    <h3 class="h4 card-title"><i class="pli-open-book"></i>&nbsp; 스터디 목록</h3>
                    <div class="row">

                        <!-- Right Toolbar -->
                        <div class="col-md-12 d-flex gap-1 align-items-center justify-content-md-end mb-2">
                            <div class="form-group" style="display:inline-block;">
                                <input type="text" placeholder="Search..." class="form-control" autocomplete="off">
                            </div>
                            <div class="btn-group">
                                <div class="btn-group dropdown">
                                    <button class="btn btn-icons btn-outline-light dropdown-toggle hstack gap-2" data-bs-toggle="dropdown" aria-expanded="false">
                                        옵션
                                        <span class="vr"></span>
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#" id="name">스터디 이름순</a></li>
                                        <li><a class="dropdown-item" href="#" id="studystart">등록순</a></li>
                                        <li><a class="dropdown-item" href="#" id="progress">진행순</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- END : Right Toolbar -->

                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>스터디이름</th>
                                <th>그룹장</th>
                                <th>상태</th>
                                <th class="text-center">스터디진행률</th>
                                <th>시작일</th>
                                <th>종료일</th>
                                <th class="text-center">카테고리</th>
                            </tr>
                            </thead>
                            <tbody id="studylist">
                            <tr>
                                <td><a href="#" class="btn-link">스터디이름1</a></td>
                                <td>고라니1</td>
                                <td><span class="text-body"><i class="demo-pli-clock"></i>진행중</span></td>
                                <td class="text-center fs-5">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 81%;" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">81%</font></font></div>
                                    </div>
                                </td>
                                <td>2024-01-01</td>
                                <td>2024-06-01</td>
                                <td class="text-center">문학 소설</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <nav class="text-align-center mt-5" aria-label="Table navigation">
                        <ul id="studyPagination" class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#">이전</a>
                            </li>
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">1</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">다음</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>