<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::links}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Inquiry List</title>
   <links>
      <!-- JAVASCRIPTS -->
      <script th:src="@{/js/list.js}"></script>

      <!-- Tabulator Scripts [ OPTIONAL ] -->
      <script th:src="@{/vendors/tabulator/tabulator.min.js}"></script>

      <!-- Initialize [ SAMPLE ] -->
      <script th:src="@{/pages/tabulator.js}"></script>
   </links>
</head>

<body>
<section>
   <script th:inline="javascript">
      /*<![CDATA[*/
      /* 페이지 로드 시 alertMessage가 설정되어 있으면 알림 표시 */
      var alertMessage = [[${alertMessage}]];
      if (alertMessage) {
         alert(alertMessage);
      }
      /*]]>*/
   </script>
   <section id="content" class="content">
      <div class="content__boxed">
         <div class="content__wrap">

            <div class="card">
               <div class="card-header">
                  <h3 class="h4 card-title">문의</h3>

                  <!-- Toolbar -->
                  <div class="d-flex gap-2 py-3" style="max-width:800px; float:right">
                        <button class="btn btn-primary text-nowrap" id="inquiry_add">
                           <i class="demo-psi-add fs-5"></i>
                           <span class="vr"></span>
                           문의 작성
                        </button>
                  </div>
                  <!-- END : Toolbar -->

               </div>
               <div class="card-body">
                  <!-- Filter Data -->
                  <div class="container" >
                     <th:block th:if="${listcount > 0}">
                        <table class="table">
                           <thead>
                           <tr>
                              <td>번호</td>
                              <td>분류</td>
                              <td>제목</td>
                              <td>답변여부</td>
                              <td>작성자</td>
                              <td>등록일</td>
                           </tr>
                           </thead>
                           <tbody>
                           <tr th:each="inquiry : ${inquiryList}">
                              <td th:text="${inquiry.inquiryId}"></td>
                              <td th:text="${inquiry.typeName}"></td>
                              <td>
                                 <img th:if="${inquiry.isPrivate}" th:src="@{/img/inquiry/private.png}" alt="Private"
                                      style="width: 16px; height: 16px;"/>
                                 <a th:href="@{/inquiry/view(inquiryId=${inquiry.inquiryId})}" th:text="${inquiry.title}"></a>
                              </td>
                              <td th:text="${inquiry.isAnswered ? '답변완료' : '답변 중'}"></td>
                              <td th:text="${inquiry.memberId}"></td>
                              <td th:text="${#dates.format(inquiry.createdAt, 'yyyy-MM-dd')}"></td>
                           </tr>
                           </tbody>
                        </table>
                        <!-- END : Filter Data -->
                     </th:block>
                     </th:block>
                     <h3 th:if="${listcount == 0}" style="text-align:center">등록된 글이 없습니다.</h3>
                  </div>

                  <nav class="text-align-center mt-5" aria-label="Table navigation">
                     <ul class="pagination justify-content-center">
                        <!-- 이전 버튼 -->
                        <li class="page-item" th:classappend="${page <= 1} ? ' disabled' : ''">
                           <a class="page-link" th:href="${page > 1} ? '/inquiry/list?page=' + ${previousPage} : ''" th:if="${page > 1}">Previous</a>
                           <a class="page-link" th:if="${page <= 1}">이전</a>
                        </li>

                        <!-- 페이지 번호 -->
                        <li th:each="a : ${#numbers.sequence(startpage, endpage)}" th:classappend="${a == page} ? ' active' : ''" th:if="${maxpage > 0}">
                           <a class="page-link" th:href="'/inquiry/list?page=' + ${a}" th:text="${a}"></a>
                        </li>
                        <li th:if="${maxpage == 0}">
                           <a class="page-link" th:href="'/inquiry/list?page=1'" th:text="1"></a>
                        </li>

                        <!-- 다음 버튼 -->
                        <li class="page-item" th:classappend="${page >= maxpage} ? ' disabled' : ''">
                           <a class="page-link" th:href="${page < maxpage} ? '/inquiry/list?page=' + ${nextPage} : ''" th:if="${page < maxpage}">Next</a>
                           <a class="page-link" th:if="${page >= maxpage}">다음</a>
                        </li>
                     </ul>
                  </nav>

               </div>


            </div>
         </div>
      </div>
   </section>
</section>
</body>
</html>
