<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::links}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Title</title>
   <links>
      <style>
         .banner-container {
            height: 350px; /* 컨테이너의 높이를 300px로 설정 */
            overflow: hidden; /* 넘치는 부분을 숨김 */
            position: relative;
            width: 100%;
         }

         .banner-image {
            width: 100%;
            height: 100%;
            object-fit: cover; /* 이미지의 비율을 유지하며 크기 조절 */
         }

         .banner-text {
            font-family: Arial, sans-serif;
            color: white;
         }


      </style>

   </links>


</head>
<body>
<section>
      <div>
         <div class="position-relative banner-container">
            <img th:src="@{/img/trade/non-fiction.jpg}" alt="Banner" class="img-fluid banner-image">
            <div class="position-absolute top-50 start-50 translate-middle text-center banner-text">
               <h1 class="text-white">경제/경영 (Business/Economics)</h1>
               <br><br>
            </div>
         </div>

      </div>


</section>
</body>
</html>