<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::links}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>나의 기록</title>
    <links>
        <script th:src="@{/vendors/chart.js/chart.umd.min.js}"></script>
        <script th:src="@{/pages/chart.js}"></script>
        <script type="module" th:src="@{/pages/forms-tags-bootstrap5.js}"></script>
        <link rel="stylesheet" th:href="@{/vendors/bootstrap5-tags/bootstrap5-tags.css}">
        <script th:src="@{/js/memomine.js}"></script>
    </links>
</head>
<body class="out-quart">
<!--/* 본문 content 영역 */-->
<div id="root" class="root mn--max tm--expanded-hd">
    <section id="content" class="content">

        <div class="content__header content__boxed rounded-0">
            <div class="content__wrap">

                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{#}">Home</a></li>
                        <li class="breadcrumb-item"><a th:href="@{#}">기록 · 리뷰</a></li>
                        <li class="breadcrumb-item active" aria-current="page">나의 기록</li>
                    </ol>
                </nav>
                <!-- END : Breadcrumb -->


                <h1 class="page-title mb-0 mt-2">나의 기록</h1>

                <p class="lead">
                    내가 작성한 기록을 보여줍니다
                </p>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <div class="row mb-3">

                    <div class="col-md-6 mb-3">
                        <div class="tab-base">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item active" role="presentation">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#_dm-tabsChart" type="button" role="tab" aria-controls="chart" aria-selected="true">월별 기록 / 완독</button>
                                </li>
                            </ul>

                            <!-- Bar Chart -->
                            <canvas id="_dm-barChart"></canvas>
                            <!-- END : Bar Chart -->
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tab-base">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item active" role="presentation">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#_dm-tabsMemo" type="button" role="tab" aria-controls="memo" aria-selected="true">최근기록</button>
                                </li>
                            </ul>

                            <div id="_dm-tabsMemo" class="tab-pane fade active show" role="tabpanel" aria-labelledby="memo-tab">
                                <div class="tab-content">
                                    <div th:each="myMemo, myMemoStat : ${myMemoList}" th:if="${myMemoStat.index < 3}" class="row mb-3 border-bottom">
                                        <div class="col-md-4 text-center">
                                            <img th:src="${myMemo.cover}" width="120px" height="160px">
                                            <button type="button" class="btn btn-icon btn-success btn-xs rounded-circle updateMemo"
                                                    data-bs-toggle="modal" data-bs-target="#verticalWithScrollbar1"
                                                    th:data-thisno="${myMemo.no}"
                                                    th:data-thiscover="${myMemo.cover}"
                                                    th:data-thisreadpage="${myMemo.readpage}"
                                                    th:data-thisremainpage="${myMemo.remainpage}"
                                                    th:data-thisispublic="${myMemo.ispublic}"
                                                    th:data-thisisbn13="${myMemo.isbn13}"
                                                    th:data-thistitle="${myMemo.title}"
                                                    th:data-thiscontent="${myMemo.content}"
                                                    th:data-thiscreated="${myMemo.created}">
                                                <i class="demo-pli-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-icon btn-danger btn-xs rounded-circle deleteMemo"
                                                    id="deleteMemo"
                                                    th:data-thisno="${myMemo.no}"
                                                    th:data-thisisbn13="${myMemo.isbn13}"
                                                    th:data-thisreadpage="${myMemo.readpage}">
                                                <i class="demo-pli-trash"></i>
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="verticalWithScrollbar1" tabindex="-1" aria-labelledby="verticalWithScrollbarLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="verticalWithScrollbarLabel1">메모 수정하기</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body align-content-center">
                                                            <div class="row mb-4">
                                                                <div class="col-md-4 text-center">
                                                                    <img th:src="@{/img/sample-img/bookcover1.jpg}" id="thismodalcover" class="img-fluid w-100 h-100">
                                                                </div>
                                                            </div>

                                                            <!-- Block styled form -->
                                                            <form th:action="@{update-memo}" method="post" class="row">
                                                                <div class="col-md-12 mb-3">
                                                                    <label for="_dm-inputNames" class="form-label">작성자</label>
                                                                    <input name="id" id="thisloginid" type="text" class="form-control" value="" readonly>
                                                                </div>
                                                                <div class="col-md-12 mb-3">
                                                                    <label for="_dm-inputPages" class="form-label">읽은 페이지</label>
                                                                    <input name="readpage" id="thisreadpage" type="text" class="form-control" placeholder="읽은 페이지 수를 입력해주세요. 숫자만 가능합니다 (1, 6, 15 ...)" required>
                                                                </div>
                                                                <div class="col-md-12 mb-3">
                                                                    <label class="form-label">공개 · 비공개</label>
                                                                    <div class="form-floating mb-3">
                                                                        <select class="form-select" aria-label="Floating label select example" name="ispublic">
                                                                            <option value="Y">공개</option>
                                                                            <option value="N">비공개</option>
                                                                        </select>
                                                                        <label for="floatingSelect">공개 또는 비공개 여부를 정할 수 있습니다</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 mb-3">
                                                                    <label for="_dm-Title" class="form-label">제목</label>
                                                                    <input name="title" id="thistitle" type="text" class="form-control" placeholder="제목을 입력해주세요 (최대 100자)" required>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <label class="form-label">내용</label>
                                                                    <textarea name="content" class="form-control" placeholder="내용을 입력해주세요 (최대 500자)" rows="14" required="required" id="thiscontent"></textarea>
                                                                </div>
                                                                <input type="hidden" name="no" id="thisno">
                                                                <input type="hidden" name="isbn13" id="thisisbn13">
                                                                <input type="hidden" name="cover" id="thiscover">
                                                                <div class="modal-footer">
                                                                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                                    <button type="submit" class="btn btn-primary">등록</button>
                                                                </div>
                                                            </form>
                                                            <!-- END : Block styled form -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END : Vertical centered scrollable modal -->
                                        </div>

                                        <div class="col-md-8">
                                            <dl class="row mb-0 h-100">
                                                <dt class="col-sm-4">제목</dt>
                                                <dd class="col-sm-8">[[${myMemo.title}]]</dd>
                                                <dt class="col-sm-4">읽은 페이지</dt>
                                                <dd class="col-sm-8">[[${myMemo.readpage}]] page</dd>
                                                <dt class="col-sm-4">남은 페이지</dt>
                                                <dd class="col-sm-8">[[${myMemo.remainpage}]] page</dd>
                                                <dt class="col-sm-4">기록일</dt>
                                                <dd class="col-sm-8">[[${myMemo.created}]]</dd>
                                                <dt th:if="${!#strings.equals(myMemo.lastmodified, myMemo.created)}" class="col-sm-4">최종 수정일</dt>
                                                <dd th:if="${!#strings.equals(myMemo.lastmodified, myMemo.created)}" class="col-sm-8">[[${myMemo.lastmodified}]]</dd>
                                                <dt class="col-sm-4">기록내용</dt>
                                                <dd class="col-sm-8">[[${myMemo.content}]]</dd>
                                            </dl>
                                        </div>
                                    </div>

                                    <!-- 페이징처리 -->
                                    <div th:if="${myMemoList.size() != 0}" class="mt-3">
                                        <nav class="text-align-center mt-5" aria-label="Page navigation">
                                            <ul class="pagination justify-content-center">
                                                <li th:if="${currentPage <= 1}" class="page-item">
                                                    <a class="page-link disabled">이전</a>
                                                </li>

                                                <li th:if="${currentPage > 1}" class="page-item">
                                                    <a th:href="@{'/memo/mine?page=' + ${currentPage - 1}}" class="page-link">이전</a>
                                                </li>

                                                <li th:each="pageNum : ${#numbers.sequence(1, maxPage)}" th:classappend="${pageNum == currentPage} ? 'active'">
                                                    <a th:href="@{'/memo/mine?page=' + ${pageNum}}" class="page-link" th:text="${pageNum}">1</a>
                                                </li>

                                                <li th:if="${currentPage < maxPage}" class="page-item">
                                                    <a th:href="@{'/memo/mine?page=' + ${currentPage + 1}}" class="page-link">다음</a>
                                                </li>

                                                <li th:if="${currentPage >= maxPage}" class="page-item">
                                                    <a class="page-link disabled">다음</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <div class="tab-base">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item active" role="presentation">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#_dm-tabsComplete"
                                            type="button" role="tab" aria-controls="complete" aria-selected="true">완독</button>
                                </li>

                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#_dm-tabsChallenge"
                                            type="button" role="tab" aria-controls="challenge" aria-selected="false" tabindex="-1">도전</button>
                                </li>

                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#_dm-tabsTarget"
                                            type="button" role="tab" aria-controls="target" aria-selected="false" tabindex="-1">목표</button>
                                </li>
                            </ul>

                            <div class="tab-content" style="background-color:var(--bs-primary)">
                                <div id="_dm-tabsComplete" class="tab-pane fade active show" role="tabpanel" aria-labelledby="complete-tab">
                                    <div class="row text-center mb-4">
                                        <div th:each="myComplete:${myCompleteList}" class="col-md-2 mb-2">
                                            <img th:src="${myComplete.cover}" width="150px" height="200px">
                                            <button type="button" class="btn btn-danger rounded-pill" data-bs-toggle="modal"
                                                    data-bs-target="#verticalWithScrollbar2"
                                                    id="addReview"
                                                    th:data-reviewIsbn13="${myComplete.isbn13}"
                                                    th:data-reviewBooktitle="${myComplete.title}"
                                                    th:data-reviewAuthor="${myComplete.author}"
                                                    th:data-reviewCategoryName="${myComplete.categoryName}"
                                                    th:data-reviewCover="${myComplete.cover}"
                                                    th:data-reviewRegitDate="${myComplete.regitdate}"
                                                    th:data-reviewPage="${myComplete.page}"
                                                    th:data-reviewScore="${myComplete.score}">
                                                리뷰쓰기</button>
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="verticalWithScrollbar2" tabindex="-1" aria-labelledby="verticalWithScrollbarLabel2" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="verticalWithScrollbarLabel2">리뷰 작성</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body align-content-center">
                                                        <div class="row mb-4">

                                                            <div class="col-md-4 text-center">
                                                                <img th:src="@{/img/sample-img/bookcover1.jpg}" id="reviewModalCover" class="img-fluid w-100 h-100">
                                                            </div>

                                                            <div class="col-md-8 align-content-center border-bottom">
                                                                <dl class="row mb-0">
                                                                    <dt class="col-sm-4">제목</dt>
                                                                    <dd class="col-sm-8 text-start" id="reviewModalBookTitle">"다 된 밥에 재뿌리기"의 사회학적...</dd>

                                                                    <dt class="col-sm-4">저자</dt>
                                                                    <dd class="col-sm-8 text-start" id="reviewModalAuthor">코레오 오르날도</dd>

                                                                    <dt class="col-sm-4">카테고리</dt>
                                                                    <dd class="col-sm-8 text-start" id="reviewModalCategoryName">eBook > 인문학 > 교양 인문학</dd>

                                                                    <dt class="col-sm-4">평점</dt>
                                                                    <dd class="col-sm-8 text-start" id="reviewModalScore">5점</dd>

                                                                    <dt class="col-sm-4">페이지</dt>
                                                                    <dd class="col-sm-8 text-start" id="reviewModalPage">416</dd>
                                                                </dl>
                                                            </div>

                                                        </div>

                                                        <!-- Block styled form -->
                                                        <form th:action="@{/review/add-review}" method="post" class="row">

                                                            <div class="col-md-12 mb-3">
                                                                <label class="form-label">작성자</label>
                                                                <input name="id" type="text" class="form-control" value="" id="reviewModalId" readonly>
                                                            </div>

                                                            <div class="col-md-12 mb-3">
                                                                <label class="form-label">평점</label>
                                                                <input id="reviewScore" name="score" type="text" class="form-control" placeholder="점수를 입력해주세요 1~5 사이 정수만 가능합니다 (1, 2, 3, 4, 5)" required>
                                                            </div>

                                                            <div class="col-md-12 mb-3">
                                                                <label class="form-label">한줄평</label>
                                                                <input name="linetitle" type="text" class="form-control" placeholder="한줄평을 입력해주세요 (최대 50자)" required>
                                                                <p class="float-end mb-0" id="countLineTitle"></p>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <label class="form-label">리뷰</label>
                                                                <textarea name="content" class="form-control" placeholder="내용을 입력해주세요 (최대 200자)" rows="14" required></textarea>
                                                                <p class="float-end mb-0" id="countReviewContent"></p>
                                                            </div>

                                                            <input type="hidden" name="isbn13" id="modalInputIsbn13">
                                                            <input type="hidden" name="cover" id="modalInputCover">

                                                            <div class="modal-footer">
                                                                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                                <button type="submit" class="btn btn-primary">등록</button>
                                                            </div>

                                                        </form>
                                                        <!-- END : Block styled form -->

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- END : Vertical centered scrollable modal -->

                                    </div>
                                </div>

                                <div id="_dm-tabsChallenge" class="tab-pane fade" role="tabpanel" aria-labelledby="challenge-tab">
                                    <div class="row text-center mb-4">
                                        <div th:if="${#lists.size(myChallengeList) > 0}"  th:each="myChallenge:${myChallengeList}" class="col-md-2 mb-2">
                                            <img th:src="${myChallenge.cover}" width="150px" height="200px">
                                            <button type="button" class="btn btn-success rounded-pill" data-bs-toggle="modal"
                                                    data-bs-target="#verticalWithScrollbar"
                                                    id="addMemo"
                                                    th:data-isbn13="${myChallenge.isbn13}"
                                                    th:data-title="${myChallenge.title}"
                                                    th:data-author="${myChallenge.author}"
                                                    th:data-categoryname="${myChallenge.categoryName}"
                                                    th:data-cover="${myChallenge.cover}"
                                                    th:data-score="${myChallenge.score}"
                                                    th:data-page="${myChallenge.page}">
                                            기록하기</button>

                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="verticalWithScrollbar" tabindex="-1" aria-labelledby="verticalWithScrollbarLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="verticalWithScrollbarLabel">메모 기록하기</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body align-content-center">
                                                        <div class="row mb-4">

                                                            <div class="col-md-4 text-center">
                                                                <img th:src="@{/img/sample-img/bookcover1.jpg}" id="modalcover" class="img-fluid w-100 h-100">
                                                            </div>

                                                            <div class="col-md-8 align-content-center border-bottom">
                                                                <dl class="row mb-0">
                                                                    <dt class="col-sm-4">제목</dt>
                                                                    <dd class="col-sm-8 text-start" id="modaltitle">"다 된 밥에 재뿌리기"의 사회학적...</dd>

                                                                    <dt class="col-sm-4">저자</dt>
                                                                    <dd class="col-sm-8 text-start" id="modalauthor">코레오 오르날도</dd>

                                                                    <dt class="col-sm-4">카테고리</dt>
                                                                    <dd class="col-sm-8 text-start" id="modalcategoryName">eBook > 인문학 > 교양 인문학</dd>

                                                                    <dt class="col-sm-4">평점</dt>
                                                                    <dd class="col-sm-8 text-start" id="modalscore">5점</dd>

                                                                    <dt class="col-sm-4">페이지</dt>
                                                                    <dd class="col-sm-8 text-start" id="modalpage">416</dd>

                                                                    <dt class="col-sm-4">남은 페이지</dt>
                                                                    <dd class="col-sm-8 text-start" id="modalremainpage">59</dd>
                                                                </dl>
                                                            </div>

                                                        </div>

                                                        <!-- Block styled form -->
                                                        <form th:action="add-memo" method="post" class="row">

                                                            <div class="col-md-12 mb-3">
                                                                <label for="_dm-inputNames" class="form-label">작성자</label>
                                                                <input name="id" id="_dm-inputNames" type="text" class="form-control" th:value="${loginId}" readonly>
                                                            </div>

                                                            <div class="col-md-12 mb-3">
                                                                <label for="_dm-inputPages" class="form-label">읽은 페이지</label>
                                                                <input name="readpage" id="_dm-inputPages" type="text" class="form-control" placeholder="읽은 페이지 수를 입력해주세요. 숫자만 가능합니다 (1, 6, 15 ...)" required>
                                                            </div>

                                                            <div class="col-md-12 mb-3">
                                                                <label class="form-label">공개 · 비공개</label>
                                                                <div class="form-floating mb-3">
                                                                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="ispublic">
                                                                        <option value="Y" selected>공개</option>
                                                                        <option value="N">비공개</option>
                                                                    </select>
                                                                    <label for="floatingSelect">공개 또는 비공개 여부를 정할 수 있습니다</label>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-12 mb-3">
                                                                <label for="_dm-Title" class="form-label">제목</label>
                                                                <input name="title" id="_dm-Title" type="text" class="form-control" placeholder="제목을 입력해주세요 (최대 100자)" required>
                                                                <p class="float-end mb-0" id="countMemoTitle"></p>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <label class="form-label">내용</label>
                                                                <textarea name="content" class="form-control" placeholder="내용을 입력해주세요 (최대 500자)" rows="14" id="memoContent"></textarea>
                                                                <p class="float-end mb-0" id="countMemoContent"></p>
                                                            </div>

                                                            <input type="hidden" name="isbn13" id="isbn13">
                                                            <input type="hidden" name="cover" id="cover">

                                                            <div class="modal-footer">
                                                                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                                <button type="submit" class="btn btn-primary">등록</button>
                                                            </div>

                                                        </form>
                                                        <!-- END : Block styled form -->

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- END : Vertical centered scrollable modal -->

                                    </div>
                                </div>

                                <div id="_dm-tabsTarget" class="tab-pane fade" role="tabpanel" aria-labelledby="target-tab">
                                    <div class="row text-center mb-4">
                                        <div th:each="myGoal:${myGoalList}" class="col-md-2 mb-2">
                                            <img th:src="${myGoal.cover}" width="150px" height="200px">
                                            <button type="button" class="btn btn-warning rounded-pill"
                                                    id="changeReadState"
                                                    th:data-isbn13="${myGoal.isbn13}"
                                                    th:data-title="${myGoal.title}"
                                                    th:data-author="${myGoal.author}"
                                                    th:data-categoryname="${myGoal.categoryName}"
                                                    th:data-cover="${myGoal.cover}"
                                                    th:data-score="${myGoal.score}"
                                                    th:data-page="${myGoal.page}">
                                                도전하기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>